.favorite-movies-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.favorite-page-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
}
.btns {
  display: flex;
  gap: 10px;
}
.favorite-page-header button {
  padding: 5px;
  height: 50%;
  background: transparent;
  border: 2px solid #cc0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}
.favorite-page-header button:hover {
  transform: scale(1.1);
}
.favorite-page-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.list-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  height: 300px;
}
.favorite-page-header button.dark-color {
  color: #121212;
}
@media (max-width: 900px) {
  .favorite-page-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .favorite-page-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .favorite-page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    margin-bottom: 30px;
  }
  .btns button {
    padding: 10px 15px;
  }
  .favorite-page-header button:hover {
    transform: unset;
  }
}
