.cast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  gap: 20px;
}
.img-container {
  width: 70%;
  height: 50%;
}
.cast-card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* padding: 20px; */
  justify-content: start;
  align-items: center;
  text-align: center;
  /* border: 2px solid #fff; */

  border-radius: 5px;
}

.cast-card img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 2px #c00;
}

.cast-card span {
  color: #c00;
}

.cast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 800px) {
  .cast-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
  .cast-card {
    display: flex;
    gap: 50px;
    flex-direction: column;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid #fff; */

    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .cast-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .img-container {
    width: 30%;
    height: 50%;
  }
}
