.single-movie-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
  animation: fadeIn 0.5s linear forwards;

  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.titles {
  text-align: center;
}
.image-container {
  height: 30%;
  width: 100%;
}
.close-me {
  position: absolute;
  right: 0px;
  top: 30px;
  background: transparent;
  border: none;
  transform: scale(0.8);
  transition: all 0.5s;
}
.close-me:hover {
  transform: scale(0.9);
}
.close-me svg {
  cursor: pointer;

  border-radius: 50%;
}
.single-movie-page h3 {
  font-weight: bolder;
  margin-bottom: 10px;
}
.single-movie-page .left {
  flex-basis: 20%;
}
.single-movie-page .left .poster {
  width: 100%;

  border-radius: 5px;
  border: 2px solid #cc0000;
  box-shadow: 0 0 0.9rem 0.1em rgba(255, 0, 0, 1);
}

.right h1,
.right h2,
.right h3 {
  color: #cc0000;
}
.single-movie-page .right {
  flex-basis: 75%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.details {
  width: 100%;
  display: flex;
}
.details-left {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details-left h2 {
  margin-bottom: 10px;
  color: #cc0000;
}
.details-right {
  flex-basis: 70%;
  text-align: center;
  position: relative;
}

.details-right h2 {
  margin-bottom: 10px;
  color: #cc0000;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.right p {
  font-size: 14px;
  /* font-weight: inherit; */
}
.add-to-fav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-fav img {
  height: 25px;
  cursor: pointer;
  transition: all 0.2s;
}
.add-to-fav img:hover {
  transform: scale(1.1);
}
.trailer {
  width: 100%;
}
.trailer iframe {
  border: 2px solid #cc0000;
  width: 100%;

  box-shadow: 0 0 0.5rem rgba(255, 0, 0, 1);
  border-radius: 5px;
}
.error-redirect {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.error-redirect .info {
  margin: 0;
}
.error-redirect button {
  cursor: pointer;
  height: 50%;
  border-radius: 5px;
  border: 2px solid #cc0000;
  background: transparent;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: all 0.5s;
}
.error-redirect button:hover {
  transform: scale(1.1);
}
.info.dark-color {
  color: #121212;
}
.details-right .showmore-btn {
  padding: 5px;

  margin-top: 10px;
  border: 2px solid #c00;
  cursor: pointer;
  color: #121212;
  background-color: #fff;
  font-weight: bold;
  position: absolute;
  position: absolute;
  /* top: 100%; */
  bottom: 3%;
  right: 45%;
  border-radius: 5px;
  transition: all 0.5s;
}
.details-right .showmore-btn.dark-color {
  background-color: #121212;
  color: #fff;
}
.details-right .showmore-btn:hover {
  transform: scale(1.1);
}
.red {
  color: #c00;
}
.big-t {
  display: flex;
  justify-content: center;
}
.big-t h1 {
  padding: 5px 10px;
  border: 2px solid #c00;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s;
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.genres ul {
  padding-left: 20px;
}
@media (max-width: 1000px) {
  .close-me {
    position: absolute;
    top: 0;
    right: 0;
  }
  .image-container {
    height: 30%;
    width: 90%;
  }
  .details {
    flex-direction: column;
  }
  .single-movie-page .left {
    padding-top: 50px;
  }
  .single-movie-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation: unset;
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    flex-direction: column;
  }
  .single-movie-page .left {
    justify-content: center;
  }
  .details {
    width: 100%;
  }
  .single-movie-page h1,
  .single-movie-page h5 {
    margin-top: 10px;
    text-align: center;
  }
  .close-me img {
    width: 60px;
  }
  .details-right .showmore-btn {
    padding: 5px;
    background-color: transparent;
    margin-top: 10px;
    border: 2px solid #c00;
    cursor: pointer;
    color: white;
    font-weight: bold;
    position: unset;
    /* top: 100%; */
    bottom: unset;
    right: unset;
    border-radius: 5px;
    transition: all 0.5s;
  }
}
