.trending-movies-page {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.trending-movies-page .page-header {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: white;
  font-weight: bold;
}
.page-header button {
  color: white;
  background: transparent;
  border: 2px solid #cc0000;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
}
.page-header button:hover {
  transform: scale(1.1);
}
.trending-movies-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s linear forwards;

  gap: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dark-color,
.page-header button.dark-color {
  color: #121212;
}

@media (max-width: 900px) {
  .trending-movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .trending-movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .trending-movies-page .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .page-header button {
    padding: 10px 15px;
  }
  .page-header button:hover {
    transform: unset;
  }
}
