.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-title {
  color: white;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  animation: shadow 2s ease-in-out infinite;
  border-right: 4px solid #c00;
  padding: 0px 15px;
}
@keyframes shadow {
  0% {
    filter: drop-shadow(0px 0px 0px #c00);
  }
  50% {
    filter: drop-shadow(0px 0px 10px #c00);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #c00);
  }
}
.mode-icon {
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: all 0.8s;
}
.mode-icon:hover {
  transform: rotate(45deg);
}
.dark-color {
  color: #121212;
}
@media (max-width: 1350px) {
  .header-svg {
    transform: scale(0.7);
    position: absolute;
    top: 0;
    left: 0;
  }
  .mode-icon {
    position: unset;
    transition: all 0.8s;
  }
  .header-title {
    border-left: 4px solid #c00;
  }
  .hide {
    display: none;
  }
}
@media (max-width: 600px) {
  .header {
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .header-title {
    font-size: 30px;
    animation: unset;
    filter: drop-shadow(0px 0px 10px #c00);
  }
  .header-svg {
    transform: scale(0.7);
    position: absolute;
    top: 0;
    left: 0;
  }
  .mode-icon:hover {
    transform: unset;
  }
  .mode-icon {
    transition: rotate 0.8s;
  }
}
