.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-title {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
