.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-title {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.mode-icon {
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: all 0.8s;
}
.mode-icon:hover {
  transform: rotate(45deg);
}
.dark-color {
  color: #121212;
}
@media (max-width: 1350px) {
  .mode-icon {
    position: unset;
    transition: all 0.8s;
  }
}
@media (max-width: 600px) {
  .header {
    gap: 5px;
  }
  .header-title {
    font-size: 30px;
  }
  .header-svg {
    transform: scale(0.7);
  }
  .mode-icon:hover {
    transform: unset;
  }
}
