.info {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.movies-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

@media (max-width: 900px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
