.info {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.movies-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
