.info {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.movies-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  animation: fadeIn 1s linear forwards;
  gap: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
