.pagination-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}
.pagination-container button {
  padding: 5px 5px;
  background-color: transparent;
  border: 2px solid #c00;
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
}
.pagination-btn {
  cursor: pointer;
  font-size: 12.5px;
}
.pagination-container button.dark-color {
  color: #121212;
}
.pagination-container .middle {
  border-color: gold;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
}
