.search-section {
  padding-top: 5%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.search-section form input {
  width: 80%;
  outline: none;
  border: 3px solid #cc0000;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.search-section form input:focus {
  box-shadow: 0 0 0.8rem rgba(255, 0, 0, 1);
}
form {
  width: 75%;
  display: flex;
  gap: 10px;
}
.search-section button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #cc0000;
  cursor: pointer;
  transition: all 0.3s;
}
.search-section button:hover {
  box-shadow: 0 0 0.8rem rgba(255, 0, 0, 1);
}
.search-section button img {
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
